img{
    margin: 30px 0px 10px 350px;
    width: 50vw;
    height: 25vw;
    border: 5px double;
    border-radius: 25px;
}

h1{
    color: rgb(0, 0, 0);
}

body:not(h1){
    background: linear-gradient(to right, rgb(188, 130, 24), rgb(26, 186, 255));
}